section#add-content {
}

.add-event {
  padding-right: 5%;
  .ant-form-item {
    margin: 0;
  }
  header {
    h1 {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 15px;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .events-control {
    padding: 10px 0;
    .event-content-left {
      margin-right: 25px;
      img {
        width: 300px;
        height: 180px;
        object-fit: cover;
      }
    }
    .event-content-right {
      margin-top: -15px;
      flex: 1;
    }
  }
  button {
    margin-bottom: 10px;
  }
}

.add-event-editor {
  margin: 1rem 0;
}

.add-event-editor .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

/* Snow Theme */
.add-event-editor .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/* Bubble Theme */
.add-event-editor .ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.add-event-editor .ql-editor {
  min-height: 18em;
}

.right-side-of-event {
  & > .card {
    padding: 20px 15px;
  }
  header {
    h2 {
      font-size: 15px;
      font-weight: 700;
    }
  }
  ul {
    padding: 0;
    padding-left: 15px;
    li {
      font-size: 13px;
    }
  }
}
